body {
    padding: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.margin-top {
    margin-top: 50px;
}

.container {
    margin: auto;
    width: 60%;
    background-color: rgb(219, 219, 219);
    padding: 30px;
}

.container:hover {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

th {
    padding: 8px;
}

input {
    display: block;
    padding: 6px;
    width: 80%;
}

#submit {
    padding: 10px;
    width: 80%;
}

#submit:hover {
    cursor: pointer;
}